/* Colori */
:root{
    --color-p: rgb(254, 185, 20);
    --color-s: #2e2d2d;
    --color-t: rgb(248, 240, 220);
    --color-q: rgb(212, 77, 92);
    --color-p-opacity: rgba(254, 184, 20, 0.389);
    --color-s-opacity: #2e2d2d3b;
    --color-t-opacity: rgba(248, 240, 220, 0.201);
    --color-q-opacity: rgba(212, 77, 92, 0.201);
}
.color-p{
    color: var(--color-p);
}

.color-s{
    color: var(--color-s);
}

.color-t{
    color: var(--color-t);
}
.color-q{
    color: var(--color-q);
}


html, body {
    /* height: 100%; */
    /* margin: 0;
    padding: 0; */
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow-x: hidden;
    font-family: 'Bangers', cursive;
}

body{
    background-color: var(--color-p);
}

/* .body-cartoon{
    background: 
    linear-gradient(rgba(250, 248, 248, 0.9), rgba(244, 238, 238, 0.7)), url("../Media/Goku.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.body-pencil{
    background: 
    linear-gradient(rgba(250, 248, 248, 0.9), rgba(244, 238, 238, 0.7)), url("../Media/sedh.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.body-fabio{
    background: 
    linear-gradient(rgba(250, 248, 248, 0.9), rgba(244, 238, 238, 0.7)), url("../Media/fabio.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}


/* Navbar Styling */
/* .navbar {
    background-color: #2d2d2d; 
}

.navbar .navbar-brand {
    color: var(--color-t); 
    font-weight: bold;
}

.navbar .navbar-toggler {
    border-color: var(--color-t); 
}

.navbar .navbar-nav .nav-link {
    color: var(--color-t); 
    font-weight: 500;
    transition: color 0.3s;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--color-p);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--color-p); 
} */
/* Navbar iniziale */
#mainNavbar {
    background-color: transparent;
    transition: background-color 0.4s ease, padding 0.3s ease;
    padding: 1rem 0;
}

#mainNavbar.scrolled {
    background-color: var(--color-s);
    padding: 0.5rem 0;
}

/* logo */

/* Testo */
#logo {
    font-size: 12rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    transition: all 0.8s ease;
    z-index: 1;
    color: var(--color-t);
    /* backdrop-filter: blur(4px); */
    border-radius: 10rem;
    background-color: var(--color-p);
}


#logo img {
    width: 20rem;
    transition: all 0.8s ease;
    /* filter: brightness(0) saturate(0); */

}
#logo .logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);  
    z-index: 2;  
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* PNG iniziale */
#logo-png {
    position: absolute;
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    opacity: 0.7;
    transition: opacity 0.6s ease, top 0.8s ease, width 0.8s ease;
    z-index: 2;
}

#logo-text {
    display: block;
    font-size: 10.2rem;
    color: var(--color-t);
    text-align: center;
    margin-top: 0.3rem;
    opacity: 1;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.navbar-toggler {
    display: none; 
}


/* Navbar scrollata */
#mainNavbar.scrolled #logo {
    font-size: 1.3rem;
    top: 0.5rem;
    left: 1.5rem;
    transform: none;
    color: var(--color-p);
    backdrop-filter: none;
    background-color: var(--color-s);
}

#mainNavbar.scrolled #logo img {
    width: 4rem;
    backdrop-filter: none;
    filter: brightness(3) saturate(90) ;
    /* filter: hue-rotate(180deg) saturate(1.5); */
}

#mainNavbar.scrolled #logo-png {
    opacity: 1;
    top: -2.5rem;
    width: 5rem;
    backdrop-filter: none;
}

#mainNavbar.scrolled #logo-text {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    backdrop-filter: none;
}
#mainNavbar.scrolled .nav-link {
    color: var(--color-t);
}

#mainNavbar.scrolled .nav-link.active {
    color: var(--color-p);
}

#mainNavbar.scrolled .navbar-toggler {
    display: block;
}


/* Link animati */
.navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s ease;
    color: var(--color-q);
    font-size: large;
    z-index: 2;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-p);
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link.active {
    color: var(--color-t);
    /* background-color: var(--color-q);
    border: 2px solid var(--color-t-opacity); */
}

/* Schermi piccoli */
@media (max-width: 767px) {
    #logo-png {
        display: none;
    }

    #mainNavbar.scrolled #logo-png {
        display: block;
        opacity: 1;
        top: 0.5rem;
        width: 2.5rem;
    }
    #burger-button {
        display: none; 
    }
    
}

/* HEADER */
/* Contenitore principale */
.image-container {
    position: relative;
    width: 100%;
    height: 90vh; 
    display: flex;
    overflow: hidden;
    border-radius: 2rem;
    border: 10px solid var(--color-s); 
    
}

/* Sezioni delle immagini */
.half {
    width: 50%;
    height: 100%;
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;
}

/* Background delle due immagini */
.bg-goku {
    background-image: url(../media/homeP/Kid_Goku_Home_We.webp);
}

.bg-luffy {
    background-image: url(../media/homeP/Luffy_Home_We.webp);
}

.bg-cartoon-1{
    background-image: url(../media/cartoonP/Bowser_Cartoon_Category_We.webp);
}

.bg-cartoon-2{
    background-image: url(../media/cartoonP/Mario_Cartoon_Category_We.webp);
}

.bg-pencil-1{
    background-image: url(../media/RealistiP/Saul_Realisti_Category_We.webp);
}
.bg-pencil-2{
    background-image: url(../media/RealistiP/Bob_Marley_We.webp);
}

.bg-artworks-1{
    background-image: url(../media/ArtworkP/Monica_Bellucci_Artwork_Category_We.webp);
}
.bg-artworks-2{
    background-image: url(../media/ArtworkP/Cara_Delevingne_Artwork_Category_We.webp);
}

.bg-fabio{
    background-image: url(../media/ChiSonoP/Sedh_We.webp);
}
.bg-pipareddu{
    background-image: url(../media/ChiSonoP/Pipareddu_We.webp);
}

/* Testo sopra le immagini */
.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2; 
    background: rgba(254, 185, 20, 0.819); 
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
}

/* Box */
.box-header {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.box-header::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -75%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.17) 50%,
        rgba(255, 255, 255, 0.05) 100%
    );
    transform: rotate(25deg);
    transition: all 0.7s ease;
    filter: blur(1px);
    pointer-events: none;
}

.box-header:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.box-header:hover::after {
    left: 100%;
    top: 100%;
}
/* Per schermi piccoli senza mouse */
@keyframes glossyMove {
    0% {
        left: -75%;
        top: -50%;
    }
    100% {
        left: 100%;
        top: 100%;
    }
}

@media (hover: none) and (pointer: coarse) {
    .box-header::after {
        animation: glossyMove 3s linear infinite;
    }
}

.text-overlay-boxes {
    text-align: center;
    background: rgba(254, 185, 20, 0.819); 
    font-size: 20px;
    margin-bottom: 15px; 
    padding: 5px 10px;
    border-radius: 10px;
}

/* Background images per ogni box */
.cartoon-box {
    background-image: url('../Media/homeP/Boxes/Kid_Buu_We.webp');
    background-size: cover; 
    background-position: center;
}

/* .pencil-box {
    background-image: url('../Media/penna/pen_W.png');
    background-size: cover;
    background-position: center;
} */
.realistic-box{
    background-image: url('../Media/homeP/Boxes/Bill_The_butcher_We.webp');
    background-size: cover;
    background-position: center;
}
.artworks-box {
    background-image: url('../Media/homeP/Boxes/Monica_Bellucci_We.webp');
    background-size: cover;
    background-position: center;
}
.opaco{
    background-color: hsla(0,0%,100%, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


/* Card */

.gallery {
    --g: 6px;
    display: grid;
    width: 100%;
    max-width: 45rem;
    aspect-ratio: 1;
    grid: auto-flow 1fr / repeat(3, 1fr);
    gap: var(--g);
    margin: auto;
}
.gallery a {
    width: 100%;
    height: 100%;
    display: block;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
    cursor: pointer;
    transition: .5s;
}
.gallery img:hover {
    filter: grayscale(0);
}
.gallery a:nth-child(2) {
    grid-area: 1 / 2 / span 2 / span 2;
    clip-path: polygon(0 0,100% 0,100% 100%,calc(50% + var(--g)/4) 100%,0 calc(50% - var(--g)/4));
}
.gallery a:nth-child(3) {
    grid-area: 2 / 1 / span 2 / span 2;
    clip-path: polygon(0 0,calc(50% - var(--g)/4) 0,100% calc(50% + var(--g)/4),100% 100%,0 100%);
}


  /* OPERATIONS */

.button-tab{
    flex: 1 1 auto;           /* Cresce e si restringe */
    max-width: 180px;         
    padding: 8px 16px;        /* Leggermente meno padding per stare comodi */
    text-align: center;
    background-color: var(--color-p);
    color: var(--color-t);
    border: 2px solid var(--color-q);
    border-radius: 8px;
    font-size: 1rem;  
}
.operations {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
    background-color: #fff;
}

.operations__tab-container {
    display: flex;
    justify-content: center;
}

.operations__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
}

.operations__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
}

.operations__tab--1 {
    background-color: var(--color-p);
}

.operations__tab--1:hover {
    background-color: var(--color-q-opacity);
}

.operations__tab--2 {
    background-color: var(--color-p);
}

.operations__tab--2:hover {
    background-color: var(--color-q-opacity);
}

.operations__tab--3 {
    background-color: var(--color-p);
    margin: 0;
}

.operations__tab--3:hover {
    background-color: var(--color-q-opacity);
}

.operations__tab--active {
    transform: translateY(-66%);
}

.operations__content {
    display: none;

    /* JUST PRESENTATIONAL */
    font-size: clamp(1.2rem, 1.5vw, 1.7rem);
    padding: clamp(1rem, 5vw, 2.5rem) clamp(2rem, 7vw, 7rem) clamp(2rem, 8vw, 6.5rem) clamp(2rem, 7vw, 7rem);
}

.operations__content--active {
    display: grid;
    grid-template-columns: clamp(4rem, 10vw, 7rem) 1fr 1fr;
    column-gap: 9rem;
    row-gap: 0.5rem;
    align-items: center;
}

.operations__image-wrapper img {
    max-width: 15rem;
}

@media (max-width: 768px) {
    .operations__content--active {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .operations__image-wrapper {
        text-align: center;
    }
}

.operations__header {
    font-family: 'Bangers', cursive;
    font-size: 1.8rem;
    line-height: 1.2;
}

.operations__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(4rem, 10vw, 7rem);
    height: clamp(4rem, 10vw, 7rem);
    border-radius: 50%;
}

.operations__icon svg {
    height: 2.75rem;
    width: 2.75rem;
}

.operations__content p {
    grid-column: 2;
}

/* .operations__icon--1 {
    background-color: var(--color-s-opacity);
}
.operations__icon--2 {
    background-color: var(--color-p-opacity);
}
.operations__icon--3 {
    background-color: var(--color-s-opacity);
} */
.operations__icon--1 img {
    fill: var(--color-s);
}
.operations__icon--2 svg {
    fill: var(--color-p);
}
.operations__icon--3 svg {
    fill: var(--color-t);
}
.operations__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.social-icons {
    transition: transform 0.3s ease-in-out;
}

.social-icons :hover {
    transform: scale(1.5); 
}

/* Footer Style */
.footer {
    background-color: #2d2d2d; 
    color: var(--color-t); 
    padding: 30px 0; 
}



.footer .footer-links a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-t);
    margin: 0 15px;
    transition: color 0.3s;
}

.footer .footer-links a:hover {
    color: var(--color-p); 
}

.footer .social-icons i {
    color: var(--color-t); 
    transition: color 0.3s;
}

.footer .social-icons i:hover {
    color: var(--color-p); 
}

.footer p {
    font-size: 16px;
}
.footer-logo-img {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.footer-logo-img:hover {
    transform: scale(1.05);
}

.copyright {
    margin-top: auto;
    font-size: 0.5rem;
    text-align:end;
    color: var(--color-light--1);
}

.github-link:link,
.github-link:visited {
    color: var(--color-light--1);
    transition: all 0.2s;
}

.github-link:hover,
.github-link:active {
    color: var(--color-light--2);
}

@media (max-width: 400px) {
    .button-tab {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}